<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos del Sensor</title>
    <link rel="stylesheet" href="/fronted/public/css/main.css">
    <script src="/fronted/public/views/components/header.js"></script>
    <script src="/fronted/public/js/sensores/enviar.js"></script>
</head>
<body> 
    <header class="header"></header>
    <main class="form-container">
        <form class="form" action="http://localhost:3000/sensores" method="POST" enctype="multipart/form-data">
            <h2 class="form__title">Datos sensores</h2>
    
            <div class="form__row">
                <div class="form__column">
                    <label class="form__label">Cargar imagen</label>
                    <input class="form__input form__input--imagen" type="file" name="image" id="image">
    
                    <label class="form__label">Tipo sensor</label>
                    <input class="form__input sensor__input--type" type="text" name="tipoSensor">
    
                    <label class="form__label">Nombre sensor</label>
                    <input class="form__input sensor__input--name" type="text" name="nombreSensor">
    
                    <label class="form__label">Unidad de medida</label>
                    <input class="form__input sensor__input--medida" type="text" name="unidadMedida">
                </div>
    
                <div class="form__column">
                    <label class="form__label">Tiempo de escaneo</label>
                    <input class="form__input sensor__input--escaneo" type="text" name="tiempoEscaneo">
    
                    <label class="form__label">Descripción</label>
                    <input class="form__input sensor__input--descripcion" type="text" name="description">
    
                    <label class="form__label">Estado (activo / inactivo)</label>
                    <select name="state" class="form__input sensor__input--estado">
                        <option value="">Seleccione una opción</option>
                        <option value="Activo">Activo</option>
                        <option value="Inactivo">Inactivo</option>
                    </select>
                </div>
            </div>
    
            <div class="form__btn-group">
                <button type="submit" class="form__btn form__btn--registrar">Crear</button>
                <a href="#" class="btn__secundary">Cancelar</a>
            </div>
        </form>
    </main>
    <script src="/fronted/public/js/sensores/validacion_datos.js"></script>
</body>
</html>
