<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ID Sensor</title>
    <link rel="stylesheet" href="../CSS/style_ID_sensores.css">
</head>
<body>
    <header class="header">
        <img class="header__logo" src="../IMG/loso_SENA.png" alt="Logo SENA">
    </header>

    <main>
        <div class="sensor-content">
            <div class="sensor-content__image"></div>
            
            <div class="sensor-content__id-box">
                <label class="sensor-content__label">ID Sensor</label>
                <input class="sensor-content__input" type="text" id="idSensor">
                
                <div id="mensaje" class="mensaje"></div>

                <button id="enviarBtn" class="sensor-content__button">Enviar</button>
            </div>
        </div>
    </main>

    <script src="/fronted/public/js/sensores/validacion_deshabilitar.js"></script>
</body>
</html>
