<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/fronted/public/css/pages/sensores/style_confirmacion.css">
</head>
<body>
    <header class="header">
        <img class="header__logo" src="/fronted/public/img/logo-de-Sena-sin-fondo-Blanco-300x300.png" alt="Logo SENA">
    </header>

    <main>
        <div class="confirmation">
            <h1 class="confirmation__title">
                Tu sensor ha sido imprimido <br>  exitosamente
            </h1>

            <button class="confirmation__button">
                <a class="confirmation__button-link" href="#">Volver</a>
            </button>
        </div>
    </main>
</body>
</html>
