<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imprimir usuarios</title>
    <link rel="stylesheet" href="/fronted/public/css/pages/usuarios/imprimir.css">
</head>
<body>
    <header class="header">
        <h1 class="header__title">Lembo</h1>
        <div class="header__logo">
            <img src="../img/logo-de-Sena-sin-fondo-Blanco-300x300.png" alt="Logo" class="header__logo-image">
        </div>
    </header>

    <main class="container">
        <div class="success-message">
            <h2 class="success-message__title">Tu archivo se ha imprimido exitosamente</h2>
            <button type="button" class="success-message__button">
                <h4 class="success-message__button-text"><a href="/Lembo/Homes/INDEX/index.html">Volver</a></h4>
            </button>
        </div>
    </main>

</body>
</html>
