<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Inicio Sesión</title>
</head>
<body>
    <div class="page-container">
        <header class="header">
            <h1 class="header__title">LEMBO</h1>
            <div class="header__logo">
                <img src="../img/logo-de-Sena-sin-fondo-Blanco-300x300.png" alt="Logo" class="header__logo-image">
            </div>
        </header>

        <div class="login">
            <h2 class="login__title">Iniciar Sesión</h2>
            <form id="loginForm" class="login__form">
                <label for="email" class="login__label">
                    <h3 class="login__label-text">Correo Electrónico</h3>
                </label>
                <input type="email" id="email" name="email" placeholder="Correo electrónico" class="login__input"/>

                <label for="password" class="login__label">
                    <h3 class="login__label-text">Contraseña</h3>
                </label>
                <input type="password" id="password" name="password" placeholder="Contraseña" class="login__input"/>

                <span id="message" class="login__message"></span> <!-- Mensaje de validación -->

                <button type="submit" class="login__btn">Iniciar Sesión</button>
            </form>

            <div class="login__forgot-password">
                <a href="/Usuarios-lembo-20250311T040238Z-001/Usuarios-lembo/Recuperar contraseña/index.html" class="login__forgot-password-link">¿Olvidaste tu contraseña?</a>
            </div>
        </div>
    </div>

    <script src="script.js"></script> <!-- Enlace al script -->
</body>
</html>
