<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contraseña cambiada exitosamente</title>
    <link rel="stylesheet" href="/fronted/public/css/pages/usuarios/recuperacion.css">
</head>
<body>
    <header class="header">
        <h1 class="header__title">Lembo</h1>
        <div class="header__logo">
            <img class="header__logo-img" src="../img/logo-de-Sena-sin-fondo-Blanco-300x300.png" alt="logo sena">
        </div>
    </header>

    <main class="main">
        <div class="message">
            <h3 class="message__title">Tu contraseña ha sido cambiada exitosamente</h3>
            <!-- <a class="message__link" href="/Usuarios-lembo-20250311T040238Z-001/Usuarios-lembo/Inicio sesion/index.html"> -->
            <a class="message__link" href="/Lembo/Usuarios-lembo-20250311T040238Z-001/Usuarios-lembo/Inicio sesion/index.html">
                <button class="message__button" type="button">
                    <h4 class="message__button-text">Iniciar Sesión</h4>
                </button>
            </a>
        </div>
    </main>

</body>
</html>
