<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="/fronted/public/css/main.css">
    <script src="/fronted/public/views/components/header.js"></script>
    <script src="/fronted/public/js/usuarios/registrar/enviar.js"></script>
</head>
<body>

<header class="header"></header>

<main class="form-container">
    <form class="form" id="registroForm" action="http://localhost:3000/register" method="POST">
        <h2 class="form-title">Registro usuario</h2>

        <div class="form__row">
            <div class="form__column">
                <label class="form__label" for="tipoUsuario">Tipo de Usuario</label>
                <select id="tipoUsuario" name="tipoUsuario" class="form__select form__select--user">
                    <option value="">Seleccione una opción</option>
                    <option value="admin">ADMIN</option>
                    <option value="personal">Personal de Apoyo</option>
                    <option value="visitante">Visitante</option>
                </select>

                <label class="form__label" for="tipoDocumento">Tipo de Documento</label>
                <select id="tipoDocumento" name="tipoDocumento" class="form__select form__select--id">
                    <option value="">Seleccione una opción</option>
                    <option value="RC">Cedula de Extranjeria</option>
                    <option value="TI">Tarjeta de Identidad</option>
                    <option value="CC">Cedula de Ciudadania</option>
                    <option value="PASAPORTE">Pasaporte</option>
                    <option value="PEP">Permiso por Proteccion Personal</option>
                </select>

                <label class="form__label" for="numeroDocumento">Número del Documento</label>
                <input type="text" id="numeroDocumento" name="numeroDocumento" class="form__input form__input--id" required>

                <label class="form__label" for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" class="form__input form__input--name" required>

                <label class="form__label" for="correo">Correo Electrónico</label>
                <input type="email" id="correo" name="correo" class="form__input form__input--email" required>

            </div>

            <div class="form__column">

                <label class="form__label" for="confirmarCorreo">Confirmar Correo</label>
                <input type="email" id="confirmarCorreo" name="confirmarCorreo" class="form__input form__input--email" required>

                <label class="form__label" for="telefono">Número de Teléfono</label>
                <input type="tel" id="telefono" name="telefono" class="form__input form__input--phone">

                <label class="form__label" for="contraseña">Contraseña</label>
                <input type="password" id="contraseña" name="contraseña" class="form__input form__input--password">

                <label class="form__label" for="confirmarContraseña">Confirmar Contraseña</label>
                <input type="password" id="confirmarContraseña" name="confirmarContraseña" class="form__input form__input--password">

                <label class="form__label" for="estado">Estado</label>
                <select id="" name="" class="form__select">
                    <option value="">Habilitado</option>
                    <option value="">Deshabilitado</option>
                </select>
            </div>
        </div>

        <div id="mensajeValidacion" class="form__message"></div>
        <div class="form__btn-group">
            <button type="submit" class="form__btn form__btn--registrar">Registrar</button>
            <a href="../homes/index.html" class="btn__secundary">Cancelar</a>
        </div>        
    </form>

</main>

<!-- <script src="/fronted/public/js/usuarios/registrar/script.js"></script> -->
</body>
</html>
