<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear Insumo</title>
  <link rel="stylesheet" href="/fronted/public/css/main.css">
  <script src="/fronted/public/views/components/header.js" defer></script>
  <script src="/fronted/public/js/insumo/enviar.js" defer></script>
</head>
<body>
  <header class="header"></header>
  <main class="form-container">
    <form class="form" id="crear-insumo-form">
      <h2 class="form__title">Datos Insumos</h2>
      <div class="form__row">
        <div class="form__column">
          <label class="form__label" for="image">Cargar imagen</label>
          <input class="form__input form__input--imagen" type="file" id="image" name="image" accept="image/*">

          <label class="form__label" for="tipoInsumo">Tipo insumo</label>
          <input class="form__input insumo__input--type" type="text" id="tipoInsumo" name="tipoInsumo">

          <label class="form__label" for="nombreInsumo">Nombre insumo</label>
          <input class="form__input insumo__input--nombre" type="text" id="nombreInsumo" name="nombreInsumo">

          <label class="form__label" for="unidadMedida">Unidad de medida</label>
          <input class="form__input insumo__input--unidad" type="text" id="unidadMedida" name="unidadMedida">

          <label class="form__label" for="cantidad">Cantidad</label>
          <input class="form__input insumo__input--cantidad" type="number" id="cantidad" name="cantidad">
        </div>

        <div class="form__column">
          <label class="form__label" for="valorUnitario">Valor unitario</label>
          <input class="form__input insumo__input--unitario" type="number" id="valorUnitario" name="valorUnitario">

          <label class="form__label" for="valorTotal">Valor Total</label>
          <input class="form__input insumo__input--total" type="number" id="valorTotal" name="valorTotal">
          
          <label class="form__label" for="descripcion">Descripción</label>
          <input class="form__input insumo__input--descripcion" type="text" id="descripcion" name="descripcion">
          
          <label class="form__label" for="estado">Estado (activo / inactivo)</label>
          <select name="estado" id="estado" class="form__input insumo__input--estado">
            <option value="">Seleccione una opción</option>
            <option value="Activo">Activo</option>
            <option value="Inactivo">Inactivo</option>
          </select>
        </div>
      </div>
      <div class="form__btn-group">
        <button type="submit" class="form__btn form__btn--registrar">Crear</button>
        <a href="../homes/home-insumos.html" class="btn__secundary">Cancelar</a>
      </div>
    </form>
  </main>
</body>
</html>