<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizador de Uso de Insumo</title>
    <link rel="stylesheet" href="/fronted/public/css/components/visualizar.css">
    <link rel="stylesheet" href="/fronted/public/css/main.css">
    <script src="/fronted/public/views/components/header.js"></script>

</head>
<body>
    <header class="header"></header>
    
    <div class="container">
            
            <div class="dashboard__search">
                <input type="text" class="dashboard__search-input" placeholder="Buscar Insumo...">
            </div>
            
            <div class="cards-grid">

                <div class="card">
                    <div class="card__header">
                        <div class="card__status-group">
                            <span class="card__status card__status--online">Insumo 1</span>
                        </div>
                    </div>
                    <div class="card__content">
                        <h3 class="card__name">Insumo de cafe</h3>
                        <p class="card__location">responsable 1</p>
                        <p class="card__states">fecha uso</p>
                    </div>
                    <div class="card__footer">
                        <a href="datos_inusomo.html"><button class="card__details-btn">Ver detalles</button></a>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card__header">
                        <div class="card__status-group">
                            <span class="card__status card__status--online">Insumo 2</span>
                        </div>
                    </div>
                    <div class="card__content">
                        <h3 class="card__name">Insumo de platano</h3>
                        <p class="card__location">responsable 2</p>
                        <p class="card__states">fecha uso</p>
                    </div>
                    <div class="card__footer">
                        <a href="datos_inusomo.html"><button class="card__details-btn">Ver detalles</button></a>
                    </div>
                </div>

                <div class="card">
                    <div class="card__header">
                        <div class="card__status-group">
                            <span class="card__status card__status--online">Insumo 3</span>
                        </div>
                    </div>
                    <div class="card__content">
                        <h3 class="card__name">Insumo de cacao</h3>
                        <p class="card__location">responsable 3</p>
                        <p class="card__states">fecha uso</p>
                    </div>
                    <div class="card__footer">
                        <a href="datos_inusomo.html"><button class="card__details-btn">Ver detalles</button></a>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card__header">
                        <div class="card__status-group">
                            <span class="card__status card__status--online">Insumo 4</span>
                        </div>
                    </div>
                    <div class="card__content">
                        <h3 class="card__name">Insumo de maiz</h3>
                        <p class="card__location">responsable 4</p>
                        <p class="card__states">fecha uso</p>
                    </div>
                    <div class="card__footer">
                        <a href="datos_inusomo.html"><button class="card__details-btn">Ver detalles</button></a>
                    </div>
                </div>

                <div class="card">
                    <div class="card__header">
                        <div class="card__status-group">
                            <span class="card__status card__status--online">Insumo 5</span>
                        </div>
                    </div>
                    <div class="card__content">
                        <h3 class="card__name">Insumo de cafe</h3>
                        <p class="card__location">responsable 5</p>
                        <p class="card__states">fecha uso</p>
                    </div>
                    <div class="card__footer">
                        <a href="datos_inusomo.html"><button class="card__details-btn">Ver detalles</button></a>                
                    </div>
                </div>
                
                <div class="card">
                    <div class="card__header">
                        <div class="card__status-group">
                            <span class="card__status card__status--online">Insumo 6</span>
                        </div>
                    </div>
                    <div class="card__content">
                        <h3 class="card__name">Insumo de maiz</h3>
                        <p class="card__location">responsable 6</p>
                        <p class="card__states">fecha uso</p>
                    </div>
                    <div class="card__footer">
                        <a href="datos_inusomo.html"><button class="card__details-btn">Ver detalles</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>