<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home ciclo cultivo</title>
    <!-- <link rel="stylesheet" href="../CSS/stylieshome-insumos-sensores.css"> -->
    <link rel="stylesheet" href="/fronted/public/css/pages/homes/stilyciclo.css">
    <script src="/fronted/public/views/components/grid.js"></script>
    
</head>
<body>
    <header class="header">
        <img src="/fronted/public/img/logo-de-Sena-sin-fondo-Blanco-300x300.png" alt="Logo SENA" class="header__logo">
        <nav class="header__nav">
            <a class="header__link" href="index.html">Inicio</a>
            <a class="header__link" href="home-insumos.html">Insumos</a>
            <a class="header__link" href="home-sensores.html">Sensores</a>
        </nav>
    </header>
    <div class="background">
        <div class="top-boxes">
            <div class="top-boxes__item">
                <p class="top-boxes__text"><a href="../ciclo_cultivo/crear_ciclo_cultivo.html">Crear ciclo cultivo</a></p>
            </div>
            <div class="top-boxes__item">
                <p class="top-boxes__text"><a href="../ciclo_cultivo/visualizar_ciclo_cultivo.html">Visualizar ciclo cultivo</a></p>
            </div>
            <div class="top-boxes__item">
                <p class="top-boxes__text"><a href="">Listar ciclo cultivo</a></p>
            </div>
        </div>
        <div class="grid"></div>
    </div>
</body>
</html>
