<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Sensores</title>
    <!-- <link rel="stylesheet" href="../CSS/stylieshome-insumos-sensores.css"> -->
    <link rel="stylesheet" href="/fronted/public/css/pages/homes/stylieshome-insumos-sensores.css">
    <script src="/fronted/public/views/components/grid.js"></script>

</head>
<body>
    <header class="header">
        <!-- <img src="/imagenes proyecto/loso_SENA.png" alt="Logo SENA" class="header__logo"> -->
        <img src="/Lembo/imagenes proyecto/loso_SENA.png" alt="Logo SENA" class="header__logo">
        <nav class="header__nav">
            <a href="#" class="header__link">Inicio</a>
            <a href="#" class="header__link">Insumos</a>
            <a href="#" class="header__link">Sensores</a>
        </nav>
    </header>

    <main class="background">
        <section class="top-boxes">
            <div class="top-boxes__item">Crear sensor</div>
            <div class="top-boxes__item">Visualizar sensor</div>
            <div class="top-boxes__item">Listar sensor</div>
        </section>

        <div class="grid"></div>
    </main>
</body>
</html>
