<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home cultivo</title>
    <!-- <link rel="stylesheet" href="../CSS/stylieshome-cultivo.css"> -->
    <link rel="stylesheet" href="/fronted/public/css/pages/homes/stylieshome-cultivo.css">
    <script src="/fronted/public/views/components/grid.js"></script>
    
</head>
<body>

    <header class="header">
        <img src="/fronted/public/img/logo-de-Sena-sin-fondo-Blanco-300x300.png" alt="Logo SENA" class="header__logo">
        <nav class="header__nav">
            <h2 class="header__title">SGL</h2>
            <a class="header__link" href="home-ciclo.html">Ciclo cultivo</a>
            <a class="header__link" href="home-insumos.html">Insumos</a>
            <a class="header__link" href="home-sensores.html">Sensores</a>
            <a class="header__link" href="index.html">Inicio</a>
        </nav>
    </header>

    <div class="background">
        <div class="top-boxes">
            <div class="top-boxes__item">
                <p><a href="../cultivo/crear_cultivo.html">Crear cultivo</a></p>
            </div>
            <div class="top-boxes__item">
                <p class="top-boxes__text"><a href="../cultivo/visualizar_cultivo.html">Visualizar cultivo</a></p>
            </div>
            <div class="top-boxes__item">
                <p><a href="">Listar cultivo</a></p>
            </div>
        </div>
        <div class="grid"></div>
    </div>

    <footer class="footer">
        <button class="footer__button button--primary">Enviar</button>
    </footer>

</body>
</html>