<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Insumos</title>
    <!-- <link rel="stylesheet" href="../CSS/stylieshome-insumos-sensores.css"> -->
    <link rel="stylesheet" href="/fronted/public/css/pages/homes/stylieshome-insumos-sensores.css">
    <script src="/fronted/public/views/components/grid.js"></script>
</head>
<body>

    <!-- Header -->
    <header class="header">
        <img src="/fronted/public/img/logo-de-Sena-sin-fondo-Blanco-300x300.png" alt="Logo SENA" class="header__logo">
    
        <nav class="header__nav">
            <a href="index.html" class="header__link">Inicio</a>
            <a href="home-cultivo-3.html" class="header__link">Cultivos</a>
            <a href="home-sensores.html" class="header__link">Sensores</a>
        </nav>
    </header>

    <!-- Contenido principal -->
    <div class="background">
        
        <!-- Cajas superiores -->
        <div class="top-boxes">
            <div class="top-boxes__item">
                <p><a href="../insumos/crear_inusomo.html">Crear insumo</a></p>
            </div>
            <div class="top-boxes__item">
                <p><a href="../insumos/visualizar_insumo.html">Visualizar insumo</a></p>
            </div>
            <div class="top-boxes__item">
                <p><a href="">Listar insumo</a></p>
            </div>
        </div>
        <!-- Contenedor de cuadros -->
        <div class="grid"></div>
    </div>
    <!-- Botón -->
    <a href="../insumos/descargar_insumo.html"><button class="button button--secondary">Reporte</button</a>
    
</body>
</html>
