<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar Reporte</title>
    <link rel="stylesheet" href="/fronted/public/css/pages/visualizar/styleprac.css">
    <link rel="stylesheet" href="/fronted/public/css/pages/visualizar/generar_reporte.css">
    <link rel="stylesheet" href="/fronted/public/css/variables.css">
    </head>
<body class="pagina">
    <header class="cabecera">
        <div class="cabecera__logo">
            <img src="/fronted/public/img/logo-de-Sena-sin-fondo-Blanco-300x300.png" alt="Logo SENA" class="cabecera__logo-img">
        </div>
        <nav class="cabecera__nav">
            <a href="/fronted/public/views/homes/index.html" class="cabecera__enlace">Inicio</a>
            <a href="crear_asociacion.html" class="cabecera__enlace">Crear Asociación</a>
            <a href="visualizar_asociacion.html" class="cabecera__enlace">Visualizar Asociación</a>
            <a href="actualizar_asociacion.html" class="cabecera__enlace">Actualizar Asociación</a>
            <a href="habilitar_deshabilitar.html" class="cabecera__enlace">Habilitar</a>
            <a href="listar_asociaciones.html" class="cabecera__enlace">Listar Asociaciones</a>
            <a href="generar_reporte.html" class="cabecera__enlace">Generar Reporte</a>
        </nav>
    </header>
    <main class="principal">
        <section class="hero">
            <h1 class="hero__titulo">Generar Reporte</h1>
            <p class="hero__descripcion">Seleccione las opciones para generar un reporte de las asociaciones.</p>
        </section>
    
        <section class="reporte">
            <div class="reporte__contenedor">
                <form class="formulario">
                    <div class="formulario__grupo">
                        <label for="tipo_reporte" class="formulario__label">Tipo de Reporte:</label>
                        <select id="tipo_reporte" name="tipo_reporte" class="formulario__select">
                            <option value="excel">Excel</option>
                            <option value="pdf">PDF</option>
                        </select>
                    </div>
                    <button type="submit" class="boton"><a href="practica.html"></a>Generar Reporte</button>
                </form>
            </div>
        </section>
    </main>
    
</body>
</html>