<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presentación de Cultivos</title>
    <link rel="stylesheet" href="../css/styleprac.css">
</head>
<body class="pagina">
    <header class="cabecera">
        <div class="cabecera__logo">
            <img src="/fronted/public/img/logo-de-Sena-sin-fondo-Blanco-300x300.png" alt="Logo SENA" class="cabecera__logo-img">
        </div>
        <nav class="cabecera__nav">
            <a href="/fronted/public/views/homes/index.html" class="cabecera__enlace">Inicio</a>
            <a href="crear_asociacion.html" class="cabecera__enlace">Crear Asociación</a>
            <a href="visualizar_asociacion.html" class="cabecera__enlace">Visualizar </a>
            <a href="actualizar_asociacion.html" class="cabecera__enlace">Actualizar </a>
            <a href="habilitar_deshabilitar.html" class="cabecera__enlace">Habilitar/Deshabilitar</a>
            <a href="listar_asociaciones.html" class="cabecera__enlace">Listar Asociaciones</a>
            <a href="generar_reporte.html" class="cabecera__enlace">Generar Reporte</a>
        </nav>
    </header>
    <main class="principal presentacion">
        <section class="hero-sec">
            <div class="hero-sec__izq">
                <h1 class="hero-sec__titulo">Cultivos</h1>
                <p class="hero-sec__subtitulo">54 Diapositivas</p>
                <p class="hero-sec__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum. 1
                </p>
            </div>
            <div class="hero-sec__der">
                <img src="/fronted/public/img/cultivos-de-cafe-morrones.jpg" alt="Imagen de Cultivos" class="hero-sec__img">
            </div>
        </section>
        <section class="estilos">
            <div class="estilos__grid">
                <div class="tarjeta estilo-info">
                    <h2 class="tarjeta__titulo">Estilo Infografía</h2>
                    <div class="info-contenido">
                        <div class="info-contenido__izq">
                            <p class="info-contenido__texto">Contenido Aquí</p>
                            <img src="/fronted/public/img/Fotos-portada-17-1-800x445.png" alt="Planta" class="info-contenido__img">
                            <p class="info-contenido__etiqueta">Ventajas Comida Local</p>
                        </div>
                        <div class="info-contenido__der">
                            <p class="info-contenido__titulo-cosecha">Ventajas Cosecha Global</p>
                            <p class="info-contenido__texto-cosecha">Información sobre ventajas globales de la cosecha.</p>
                            <p class="info-contenido__texto">Contenido Aquí</p>
                        </div>
                    </div>
                    <div class="tarjeta__contenedor-img">
                        <img src="/fronted/public/img/granos.webp" alt="Estilo Infografía" class="tarjeta__img">
                    </div>
                </div>
                <div class="tarjeta estilo-info">
                    <h2 class="tarjeta__titulo">Estilo Infografía</h2>
                    <div class="info-contenido">
                        <div class="info-contenido__izq">
                            <p class="info-contenido__texto">Contenido Aquí</p>
                            <img src="/fronted/public/img/fondocampo.jpg" alt="Planta" class="info-contenido__img">
                            <p class="info-contenido__etiqueta">Ventajas Comida Local</p>
                        </div>
                        <div class="info-contenido__der">
                            <p class="info-contenido__titulo-cosecha">Ventajas Cosecha Global</p>
                            <p class="info-contenido__texto-cosecha">Información sobre ventajas globales de la cosecha.</p>
                            <p class="info-contenido__texto">Contenido Aquí</p>
                        </div>
                    </div>
                    <div class="tarjeta__contenedor-img">
                        <img src="/fronted/public/img/Ripe-cherries_sarahemcc.jpg" alt="Estilo Infografía" class="tarjeta__img">
                    </div>
                </div>
                <div class="tarjeta estilo-info">
                    <h2 class="tarjeta__titulo">Estilo Infografía</h2>
                    <div class="info-contenido">
                        <div class="info-contenido__izq">
                            <p class="info-contenido__texto">Contenido Aquí</p>
                            <img src="/fronted/public/img/Ripe-cherries_sarahemcc.jpg" alt="Planta" class="info-contenido__img">
                            <p class="info-contenido__etiqueta">Ventajas Comida Local</p>
                        </div>
                        <div class="info-contenido__der">
                            <p class="info-contenido__titulo-cosecha">Ventajas Cosecha Global</p>
                            <p class="info-contenido__texto-cosecha">Información sobre ventajas globales de la cosecha.</p>
                            <p class="info-contenido__texto">Contenido Aquí</p>
                        </div>
                    </div>
                    <div class="tarjeta__contenedor-img">
                        <img src="/fronted/public/img/images (2).jpeg" alt="Estilo Infografía" class="tarjeta__img">
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>