<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presentación de Cultivos</title>
    <link rel="stylesheet" href="/fronted/public/css/pages/visualizar/styleprac.css">
    <link rel="stylesheet" href="/fronted/public/css/pages/visualizar/vizualizar-actualizar.css">
</head>
<body class="pagina">
    <header class="cabecera">
        <div class="cabecera__logo">
            <img src="/fronted/public/img/logo-de-Sena-sin-fondo-Blanco-300x300.png" alt="Logo SENA" class="cabecera__logo-img">
        </div>
        <nav class="cabecera__nav">
            <a href="/fronted/public/views/homes/index.html" class="cabecera__enlace">Inicio</a>
            <a href="crear_asociacion.html" class="cabecera__enlace">Crear Asociación</a>
            <a href="visualizar_asociacion.html" class="cabecera__enlace">Visualizar Asociación</a>
            <a href="actualizar_asociacion.html" class="cabecera__enlace">Actualizar Asociación</a>
            <a href="habilitar_deshabilitar.html" class="cabecera__enlace">Habilitar</a>
            <a href="listar_asociaciones.html" class="cabecera__enlace">Listar Asociaciones</a>
            <a href="generar_reporte.html" class="cabecera__enlace">Generar Reporte</a>
        </nav>
        
    </header>
    <div class="container">
            
        <div class="dashboard__search">
            <input type="text" class="dashboard__search-input" placeholder="Buscar sensores...">
        </div>
        
        <div class="cards-grid">

            <div class="card">
                <div class="card__header">
                    <div class="card__status-group">
                        <span class="card__status card__status--online">Asociación 1</span>
                    </div>
                </div>
                <div class="card__content">
                    <h3 class="card__name">Usuario</h3>
                    <p class="card__location">Insumos</p>
                    <p class="card__states">Cultivos</p>
                </div>
                <div class="card__footer">
                    <a href="crear_asociacion.html"><button class="card__details-btn">Ver detalles</button></a>
                </div>
            </div>
            <div class="card">
                <div class="card__header">
                    <div class="card__status-group">
                        <span class="card__status card__status--online">Asociación 2</span>
                    </div>
                </div>
                <div class="card__content">
                    <h3 class="card__name">Usuario</h3>
                    <p class="card__location">Insumos</p>
                    <p class="card__states">Cultivos</p>
                </div>
                <div class="card__footer">
                    <a href="crear_asociacion.html"><button class="card__details-btn">Ver detalles</button></a>
                </div>
            </div>
            <div class="card">
                <div class="card__header">
                    <div class="card__status-group">
                        <span class="card__status card__status--online">Asociación 3</span>
                    </div>
                </div>
                <div class="card__content">
                    <h3 class="card__name">Usuario</h3>
                    <p class="card__location">Insumos</p>
                    <p class="card__states">Cultivos</p>
                </div>
                <div class="card__footer">
                    <a href="crear_asociacion.html"><button class="card__details-btn">Ver detalles</button></a>
                </div>
            </div>
            
            <div class="card">
                <div class="card__header">
                    <div class="card__status-group">
                        <span class="card__status card__status--online">Asociación 4</span>
                    </div>
                </div>
                <div class="card__content">
                    <h3 class="card__name">Usuario</h3>
                    <p class="card__location">Insumos</p>
                    <p class="card__states">Cultivos</p>
                </div>
                <div class="card__footer">
                    <a href="crear_asociacion.html"><button class="card__details-btn">Ver detalles</button></a>
                </div>
            </div>

            <div class="card">
                <div class="card__header">
                    <div class="card__status-group">
                        <span class="card__status card__status--online">Asociación 5</span>
                    </div>
                </div>
                <div class="card__content">
                    <h3 class="card__name">Usuario</h3>
                    <p class="card__location">Insumos</p>
                    <p class="card__states">Cultivos</p>
                </div>
                <div class="card__footer">
                    <a href="crear_asociacion.html"><button class="card__details-btn">Ver detalles</button></a>
                </div>
            </div>
            
            <div class="card">
                <div class="card__header">
                    <div class="card__status-group">
                        <span class="card__status card__status--online">Asociación 6</span>
                    </div>
                </div>
                <div class="card__content">
                    <h3 class="card__name">Usuario</h3>
                    <p class="card__location">Insumos</p>
                    <p class="card__states">Cultivos</p>
                </div>
                <div class="card__footer">
                    <a href="crear_asociacion.html"><button class="card__details-btn">Ver detalles</button></a>
                </div>
            </div>

            <div class="card">
                <div class="card__header">
                    <div class="card__status-group">
                        <span class="card__status card__status--online">Asociación 7</span>
                    </div>
                </div>
                <div class="card__content">
                    <h3 class="card__name">Usuario</h3>
                    <p class="card__location">Insumos</p>
                    <p class="card__states">Cultivos</p>
                </div>
                <div class="card__footer">
                    <a href="crear_asociacion.html"><button class="card__details-btn">Ver detalles</button></a>
                </div>
            </div>
            
            <div class="card">
                <div class="card__header">
                    <div class="card__status-group">
                        <span class="card__status card__status--online">Asociación 8</span>
                    </div>
                </div>
                <div class="card__content">
                    <h3 class="card__name">Usuario</h3>
                    <p class="card__location">Insumos</p>
                    <p class="card__states">Cultivos</p>
                </div>
                <div class="card__footer">
                    <a href="crear_asociacion.html"><button class="card__details-btn">Ver detalles</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>