<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Ciclo Cultivo</title>
    <link rel="stylesheet" href="/fronted/public/css/pages/ciclo_cultivo/style_actualizar_ciclo_cultivo.css">
</head>
<div class="gov-top">
    <img src="/fronted/public/img/GOVPRICIPAL.jpg" alt="Logo GOV">
</div>

<!-- HEADER -->
<header class="header">
    <img src="/fronted/public/img/logo-de-Sena-sin-fondo-Blanco-300x300.png" alt="Logo SENA" class="header__logo">
</header>

<!-- MAIN -->
<main class="main">
    <div class="main__content">
        <h1 class="main__title">
            Tu Ciclo Cultivo ha sido actualizado <br> exitosamente
        </h1>
        <div class="main__buttons">
            <button class="main__button"><a class="main__button-link" href="#">Deshabilitar</a></button>
            <button class="main__button"><a class="main__button-link" href="#">Actualizar</a></button>
        </div>
    </div>
</main>

<!-- FOOTER -->
<footer class="footer">
    &copy; 2025 Tu Sistema | Todos los derechos reservados
    <div class="gov-bottom">
        <img src="/fronted/public/img/GOVPRICIPAL.jpg" alt="Logo GOV">
    </div>
</footer>
