<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/fronted/public/css/pages/ciclo_cultivo/style_actualizar_ciclo_cultivo.css">
</head>
<body>
    <header class="header">
        <img class="header__logo" src="../IMG/loso_SENA.png" alt="Logo SENA">
    </header>

    <main class="main">
        <div class="main__content">
            <h1 class="main__title">
                Tu Ciclo Cultivo ha sido actualizado <br> exitosamente
            </h1>

            <div class="main__buttons">
                <button class="main__button"><a class="main__button-link" href="#">Deshabilitar</a></button>
                <button class="main__button"><a class="main__button-link" href="#">Actualizar</a></button>
            </div>
        </div>
    </main>
</body>
</html>
