<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos Ciclo Cultivo</title>
    <link rel="stylesheet" href="/fronted/public/css/main.css">
    <script src="/fronted/public/views/components/header.js"></script>
    <link rel="stylesheet" href="/fronted/public/css/components/forms.css">
</head>

<body>
    <header class="header"></header>

    <main class="form-container">
        <form class="form" action="http://localhost:3000/CicloCultivo" method="POST" enctype="multipart/form-data">
            <h2 class="form__title">Datos Ciclo Cultivo</h2>

            <div class="form_row">
                <div class="form_column">

                    <div class="form_group">
                        <label class="form__label">Cargar imagen</label>
                        <input class="form__input form__input--imagen" type="file" name="image" id="image">
                    </div>

                    <div class="form_group">
                        <label class="form__label">ID Ciclo Cultivo</label>
                        <input class="form__input form__input--ID" type="text" name="cicloID">
                    </div>

                    <div class="form_group">
                        <label class="form__label">Nombre Ciclo Cultivo</label>
                        <input class="form__input form__input--name" type="text" name="cicloName">
                    </div>

                    <div class="form_group">
                        <label class="form__label">Fecha Siembra</label>
                        <input class="form__input form__input--siembra" type="date" name="siembraDate">
                    </div>

                    <div class="form_group">
                        <label class="form__label">Fecha Cosecha</label>
                        <input class="form__input form__input--cosecha" type="date" name="cosechaDate">
                    </div>

                    <div class="form_group">
                        <label class="form__label">Novedades</label>
                        <input class="form__input form__input--news" type="text" name="news">
                    </div>

                    <div class="form_group">
                        <label class="form__label">Descripción</label>
                        <input class="form__input form__input--description" type="text" name="description">
                    </div>

                    <div class="form_group">
                        <label class="form__label">Estado (activo / inactivo)</label>
                        <select name="state" class="form__input form__input--state">
                            <option value="">Seleccione una opción</option>
                            <option value="Activo">Activo</option>
                            <option value="Inactivo">Inactivo</option>
                        </select>
                    </div>

                    <button type="submit" class="form__btn form__btn--registrar">Crear</button>

                </div>
            </div>
        </form>
    </main>
</body>
</html>
