<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación</title>
    <!-- <link rel="stylesheet" href="../CSS/style_confirmacion.css"> -->
    <link rel="stylesheet" href="/fronted/public/css/pages/ciclo_cultivo/style_confirmacion.css">
</head>
<body>
    <header class="header">
        <img class="header__logo" src="../IMG/loso_SENA.png" alt="Logo SENA">
    </header>

    <main class="main">
        <div class="main__content">
            <h1 class="main__title">Descarga Exitosa</h1>

            <button class="main__button">
                <a href="#" class="main__button-link">Volver</a>
            </button>
        </div>
    </main>
</body>
</html>
