<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ID Ciclo Cultivo</title>
    <!-- <link rel="stylesheet" href="../CSS/style_ID__ciclo_cultivo.css"> -->
    <link rel="stylesheet" href="/fronted//public/css/pages/ciclo_cultivo/style_deshabilitar_ciclo_cultivo.css">
</head>
<body>
    <header class="header">
        <img class="header__logo" src="../IMG/loso_SENA.png" alt="Logo SENA">
    </header>

    <main class="main">
        <div class="ciclo-cultivo">
            <div class="ciclo-cultivo__imagen"></div>
            
            <div class="ciclo-cultivo__form">
                <label class="ciclo-cultivo__label">ID Ciclo Cultivo</label>
                <input class="ciclo-cultivo__input" type="text" id="idCiclo">

                <div id="mensaje" class="mensaje"></div>

                <button id="enviarBtn" class="ciclo-cultivo__button">Enviar</button>
            </div>
        </div>
    </main>

    <script src="/fronted/public/js/ciclo_cultivo/validacion_deshabilitar.js"></script>
</body>
</html>
