<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizador de Ciclo Cultivo</title>
    <link rel="stylesheet" href="/fronted/public/css/components/visualizar.css">
    <link rel="stylesheet" href="/fronted/public/css/main.css">
    <script src="/fronted/public/views/components/header.js"></script>

</head>
<body>
    <header class="header"></header>
    
    <div class="container">
            
            <div class="dashboard__search">
                <input type="text" class="dashboard__search-input" placeholder="Buscar ciclo Cultivo...">
            </div>
            
            <div class="cards-grid">

                <div class="card">
                    <div class="card__header">
                        <div class="card__status-group">
                            <span class="card__status card__status--online">Ciclo Cultivo 1</span>
                        </div>
                    </div>
                    <div class="card__content">
                        <h3 class="card__name">Ciclo Cultivo de cafe</h3>
                        <p class="card__location">zona 1</p>
                        <p class="card__states">Activo</p>
                    </div>
                    <div class="card__footer">
                        <a href="datos_ciclo_cultivo.html"><button class="card__details-btn">Ver detalles</button></a>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card__header">
                        <div class="card__status-group">
                            <span class="card__status card__status--online">Ciclo Cultivo 2</span>
                        </div>
                    </div>
                    <div class="card__content">
                        <h3 class="card__name">Ciclo Cultivo de platano</h3>
                        <p class="card__location">zona 2</p>
                        <p class="card__states">Inactivo</p>
                    </div>
                    <div class="card__footer">
                        <a href="datos_ciclo_cultivo.html"><button class="card__details-btn">Ver detalles</button></a>
                    </div>
                </div>

                <div class="card">
                    <div class="card__header">
                        <div class="card__status-group">
                            <span class="card__status card__status--online">Ciclo Cultivo 3</span>
                        </div>
                    </div>
                    <div class="card__content">
                        <h3 class="card__name">Ciclo Cultivo de cacao</h3>
                        <p class="card__location">zona 3</p>
                        <p class="card__states">Activo</p>
                    </div>
                    <div class="card__footer">
                        <a href="datos_ciclo_cultivo.html"><button class="card__details-btn">Ver detalles</button></a>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card__header">
                        <div class="card__status-group">
                            <span class="card__status card__status--online">Ciclo Cultivo 4</span>
                        </div>
                    </div>
                    <div class="card__content">
                        <h3 class="card__name">Ciclo Cultivo de maiz</h3>
                        <p class="card__location">zona 4</p>
                        <p class="card__states">Inactivo</p>
                    </div>
                    <div class="card__footer">
                        <a href="datos_ciclo_cultivo.html"><button class="card__details-btn">Ver detalles</button></a>
                    </div>
                </div>

                <div class="card">
                    <div class="card__header">
                        <div class="card__status-group">
                            <span class="card__status card__status--online">Ciclo Cultivo 5</span>
                        </div>
                    </div>
                    <div class="card__content">
                        <h3 class="card__name">Ciclo Cultivo de cafe</h3>
                        <p class="card__location">zona 5</p>
                        <p class="card__states">Activo</p>
                    </div>
                    <div class="card__footer">
                        <a href="datos_ciclo_cultivo.html"><button class="card__details-btn">Ver detalles</button></a>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card__header">
                        <div class="card__status-group">
                            <span class="card__status card__status--online">Ciclo Cultivo 6</span>
                        </div>
                    </div>
                    <div class="card__content">
                        <h3 class="card__name">Ciclo Cultivo de maiz</h3>
                        <p class="card__location">zona 6</p>
                        <p class="card__states">Inactivo</p>
                    </div>
                    <div class="card__footer">
                        <a href="datos_ciclo_cultivo.html"><button class="card__details-btn">Ver detalles</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>