.content-container {
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin: 2rem auto;
  max-width: 1200px;
}

.form__title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #333;
  margin-top: 10rem;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.styled-table thead tr {
  background-color: #39a900;
  color: #fff;
  text-align: left;
}

.styled-table th, 
.styled-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
}

.styled-table tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:hover {
  background-color: #f1f1f1;
}

.styled-table img {
  border-radius: 6px;
}

.header {
    background-color: #39a900;
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    z-index: 10;
}

.header__logo {
    width: 4%;
    height: auto;
    margin-top: 0.5rem;
    margin-left: 1%;
}

.header__nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header__link {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
}

.header__link:hover {
    text-decoration: none;
}

@media (max-width: 768px) {
    .header__logo {
        width: 6%;
    }

    .header__link {
        font-size: 1.4rem;
    }
}

/* Media Queries para móviles (420px) */
@media (max-width: 420px) {
    .header__logo {
        width: 8%;
    }

    .header__link {
        font-size: 1.2rem;
    }
}

.container{
    margin-top: 10%;;
}

h1{
  color: white;
}

a{
  text-decoration: none;
}