*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

:root {
    /* Colores Principales */
    --Primary-Green950: #39A900;
    --Primary-Green600: #81C85D;
    /* Colores Básicos */
    --Primary-white: #FFFFFF;
    --Primary-Black: #000;
    /* Tipografía */
    --font-primary: 'Work Sans';
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url('../img/cafe.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Hace que la imagen de fondo ocupe toda la altura de la pantalla */
    width: 100%;
    position: relative; /* Posición relativa para controlar elementos hijos */
}

.header {
    position: fixed; /* El header será fijo en la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    height: 7rem;
    color: var(--Primary-white);
    background-color: var(--Primary-Green950);
    font-family: var(--font-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    z-index: 10; /* Asegura que el header esté por encima de otros elementos */
}

.header__logo {
    flex-shrink: 0;
}

.header__logo-image {
    max-width: 100%;
    height: auto;
}

.header__title {
    text-align: center;
    font-size: 4.8rem;
    text-transform: uppercase;
    font-family: var(--font-primary);
    flex-grow: 1;
}

.login {
    padding: 3rem;
    border-radius: 2.0rem;
    border: var(--Primary-white) solid;
    background-color: var(--Primary-white);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    width: 40rem; /* Ajustamos el ancho */
    height: auto; /* La altura se ajustará al contenido */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem; /* Deja espacio debajo del header fijo */
    margin-bottom: 2rem;
    z-index: 5; /* Asegura que la caja del login quede debajo del header */
}

.login__title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.4rem;
}

.login__label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.login__label-text {
    font-size: 1.6rem;
}

.login__input {
    width: 32rem;
    height: 5.6rem;
    padding: 1rem;
    margin-bottom: 2rem;
    border: 0.1rem solid #ccc;
    font-size: 1.6rem;
}

.login__btn {
    display: block;
    border-style: none;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 14.9rem; /* Ajustamos el ancho del botón */
    height: 4.3rem;
    background-color: var(--Primary-Green950);
    margin-top: 1.5rem;
    margin: 0 auto; /* Asegura que el botón esté centrado horizontalmente */
    color: var(--Primary-Black);
    font-size: 1.6rem;
    font-family: var(--font-primary);
    font-weight: bold;
}

.login__forgot-password {
    text-align: center;
    margin-top: 3rem;
    font-size: 1.4rem;
    cursor: pointer;
    font-family: var(--font-primary);
    font-weight: bold;
    color: var(--Primary-Black);
}

.login__forgot-password-link {
    text-decoration: none;
    color: var(--Primary-Black);
}

/* Media Queries */
@media (max-width: 769px) {
    html {
        font-size: 50%;
    }

    .header__title {
        font-size: 4rem;
    }

    .login {
        padding: 2rem;
        width: 90%;
        height: auto;
    }

    .login__input {
        width: 100%;
    }

    .login__btn {
        width: 100%; /* El botón ocupa el 100% del ancho en pantallas pequeñas */
    }

    .header__logo {
        padding-right: 1rem;
    }

    .login__title {
        font-size: 2rem;
    }

    .login__forgot-password,
    .login__forgot-password-link {
        font-size: 1.2rem;
    }
}
