<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Cultivo</title>
    <link rel="stylesheet" href="/fronted/public/css/main.css">
    <script src="/fronted/public/views/components/header.js"></script>
    <script src="/fronted/public/js/cultivos/enviar.js"></script>
</head>
<body>
    <header class="header"></header>
    <main class="form-container">
        <form class="form" action="http://localhost:3000/cultivo" method="POST" enctype="multipart/form-data">
            <h2 class="form__title">Datos Cultivo</h2>
    
            <div class="form__row">
                <div class="form__column">
                    <label class="form__label">Cargar imagen</label>
                    <input class="form__input form__input--imagen" type="file" name="image" id="image">
    
                    <label class="form__label">Tipo cultivo</label>
                    <input class="form__input cultivo__input--type" type="text" name="cultivoType">
    
                    <label class="form__label">Nombre Cultivo</label>
                    <input class="form__input cultivo__input--name" type="text" name="cultivoName">
    
                    <label class="form__label">Identificador cultivo</label>
                    <input class="form__input cultivo__input--ID" type="date" name="cultivoID">
                </div>
    
                <div class="form__column">
                    <label class="form__label">Tamaño</label>
                    <input class="form__input cultivo__input--size" type="date" name="size">
    
                    <label class="form__label">Ubicacion</label>
                    <input class="form__input cultivo__input--location" type="text" name="location">
    
                    <label class="form__label">Descripción</label>
                    <input class="form__input cultivo__input--description" type="text" name="description">
    
                    <label class="form__label">Estado (activo / inactivo)</label>
                    <select name="state" class="form__input cultivo__input--state">
                        <option value="">Seleccione una opción</option>
                        <option value="Activo">Activo</option>
                        <option value="Inactivo">Inactivo</option>
                    </select>
                </div>
            </div>
    
            <div class="form__btn-group">
                <button type="submit" class="form__btn form__btn--registrar"><a href="datos_cultivo.html">Actualizar</a></button>
                <a href="../homes/home-cultivo-3.html" class="btn__secundary">Cancelar</a>
            </div>
        </form>
    </main>
    <script src="/fronted/public/js/cultivos/validacion_datos.js"></script>
</body>
</html>
