<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Datos Cultivo</title>
  <link rel="stylesheet" href="/fronted/public/css/main.css">
  <link rel="stylesheet" href="/fronted/public/css/pages/crear.css">
  <script src="/fronted/public/js/cultivos/enviar.js" defer></script>
  <script src="/fronted/public/views/components/header.js" defer></script>

</head>
<body>
  <div class="page__banner--top">
    <img src="/fronted/public/img/GOVPRICIPAL.jpg" alt="GOV Top" class="page__banner__img">
  </div>
  <header class="header"></header>
  <main class="form-container">
    <form class="form" id="crear-cultivo-form" enctype="multipart/form-data" novalidate>
      <h2 class="form__title">Datos Cultivo</h2>
      <div id="message-container" class="form__message"></div>
      <div class="form__row">
        <div class="form__column">
          <label class="form__label" for="image">Cargar imagen</label>
          <input class="form__input cultivo__input--imagen" type="file" name="image" id="image" accept="image/*">

          <label class="form__label" for="cultivoType">Tipo cultivo</label>
          <select class="form__input cultivo__input--type" name="cultivoType" id="cultivoType" required>
            <option value="">Seleccione un tipo de cultivo</option>
            <option value="cereal">Cereal</option>
            <option value="hortaliza">Hortaliza</option>
            <option value="frutal">Frutal</option>
            <option value="leguminosa">Leguminosa</option>
            <option value="oleaginosa">Oleaginosa</option>
            <option value="tuberculo">Tubérculo</option>
            <option value="forrajero">Forrajero</option>
            <option value="industrial">Industrial</option>
            <option value="medicinal">Medicinal/Aromática</option>
          </select>

          <label class="form__label" for="cultivoName">Nombre Cultivo</label>
          <input class="form__input cultivo__input--name" type="text" name="cultivoName" id="cultivoName" required>
          <label class="form__label" for="cultivoID">Identificador cultivo</label>
          <input class="form__input cultivo__input--ID" type="text" name="cultivoID" id="cultivoID" required>
        </div>
        <div class="form__column">
          <label class="form__label" for="size">Tamaño</label>
          <input class="form__input cultivo__input--size" type="text" name="size" id="size" required>
          <label class="form__label" for="location">Ubicación</label>
          <input class="form__input cultivo__input--location" type="text" name="location" id="location" required>
          <label class="form__label" for="description">Descripción</label>
          <input class="form__input cultivo__input--description" type="text" name="description" id="description" required>
          <label class="form__label" for="state">Estado</label>
          <select name="state" class="form__input cultivo__input--state" id="state" required>
            <option value="">Seleccione una opción</option>
            <option value="activo">Activo</option>
            <option value="inactivo">Inactivo</option>
          </select>
        </div>
      </div>
      <div class="form__btn-group">
        <button type="submit" class="form__btn form__btn--registrar">Crear</button>
        <a href="../homes/home-cultivo-3.html" class="btn__secundary">Cancelar</a>
      </div>
    </form>
  </main>
  <div class="page__banner--bottom">
    <img src="/fronted/public/img/GOVPRICIPAL.jpg" alt="GOV Bottom" class="page__banner__img">
  </div>
</body>
</html>
