<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmación</title>
  <link rel="stylesheet" href="/fronted/public/css/pages/cultivo/style_confirmacion.css">
</head>
<body>

  <!-- GOV superior -->
  <div class="gov-top">
    <img src="/fronted/public/img/GOVPRICIPAL.jpg" alt="GOV Top">
  </div>

  <!-- Header verde -->
  <header class="header">
    <img class="header__logo" src="/fronted/public/img/logo-de-Sena-sin-fondo-Blanco-300x300.png" alt="Logo SENA">
  </header>

  <!-- Contenido principal -->
  <main class="main">
    <div class="confirmation">
      <h1 class="confirmation__title">
        Tu Cultivo ha sido actualizado <br> exitosamente
      </h1>

      <button class="confirmation__button">
        <a class="confirmation__link" href="#">Volver</a>
      </button>
    </div>
  </main>

  <!-- GOV inferior -->
  <div class="gov-bottom">
    <img src="/fronted/public/img/GOVPRICIPAL.jpg" alt="GOV Bottom">
  </div>

</body>
</html>
