<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ID Cultivo</title>
    <link rel="stylesheet" href="../CSS/style_ID_cultivo.css">
</head>
<body>
    <header class="header">
        <img class="header__logo" src="../IMG/loso_SENA.png" alt="Logo SENA">
    </header>

    <main class="cultivo">
        <div class="cultivo__contenedor">
            <div class="cultivo__imagen"></div>
            
            <div class="cultivo__formulario">
                <label class="cultivo__label">ID Cultivo</label>
                <input class="cultivo__input" type="text" id="idCultivo">

                <div id="mensaje" class="mensaje"></div>

                <button id="enviarBtn" class="boton boton--primario">Enviar</button>
            </div>
        </div>
    </main>

    <script src="../JS/validacion_ID.js"></script>
</body>
</html>
