<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación</title>
    <link rel="stylesheet" href="/fronted/public/css/pages/cultivo/style_confirmacion.css">
</head>
<body>
    <header class="header">
        <img class="header__logo" src="/fronted/public/img/logo-de-Sena-sin-fondo-Blanco-300x300.png" alt="Logo SENA">
    </header>

    <main class="confirmation">
        <div class="confirmation__content">
            <h1 class="confirmation__title">
                Tu cultivo ha sido imprimido <br> exitosamente
            </h1>
            <button class="confirmation__button">
                <a href="#" class="confirmation__link">Volver</a>
            </button>
        </div>
    </main>
</body>
</html>
