*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%; /* Asegura que html ocupe toda la altura */
}

body {
    font-family: var(--main-font);
    font-size: var(--fs-xs);
    line-height: 1.6;
    color: var(--gray-800);
    background-color: var(--gray-50);
    background-image: url(/fronted/public/img/cafe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; /* Asegura que body ocupe toda la altura */
    overflow: hidden; /* Elimina las barras de desplazamiento */
    display: flex;
    flex-direction: column;
}

:root {
    --primary-950: #4DB100;
    --primary-900: #55B40C;
    --primary-800: #67BC26;
    --primary-700: #79C43F;
    --primary-600: #8BCC59;
    --primary-500: #9DD472;
    --primary-400: #AEDB8C;
    --primary-300: #C0E3A5;
    --primary-200: #D2EBBF;
    --primary-100: #EAF3D8;
    --primary-50: #F6FBF2;

    /* Secundary color*/
    --secundary-950: #FED638;
    --secundary-900: #FED841;
    --secundary-800: #FEDC55;
    --secundary-700: #FEE069;
    --secundary-600: #FEE47D;
    --secundary-500: #FEE891;
    --secundary-400: #FEECA5;
    --secundary-300: #FEF0B9;
    --secundary-200: #FEF4CD;
    --secundary-100: #FEF8E1;
    --secundary-50: #FEFCF5;
    --secundary-red: #ff4d4f;

    /* Basic color*/
    --white: #fff;
    --black: #000;
    --gray-950: #101010;
    --gray-900: #262626;
    --gray-800: #3B3B3B;
    --gray-700: #515151;
    --gray-600: #676767;
    --gray-500: #7D7D7D;
    --gray-400: #929292;
    --gray-300: #A8A8A8;
    --gray-200: #BEBEBE;
    --gray-100: #D4D4D4;
    --gray-50: #E9E9E9;

    /* Font-family */
    --main-font: Helvetica, Arial, sans-serif;

    /* Font-size */
    --fs-xxxxl: 8.0rem; /* Ultra grande */
    --fs-xxxl: 6.4rem; /* Súper grande */
    --fs-xxl: 4.8rem; /* Extra grande */
    --fs-xl: 4.0rem;  /* Muy grande */
    --fs-lg: 3.2rem;  /* Grande */
    --fs-md: 2.4rem;  /* Mediano */
    --fs-sm: 2.0rem;  /* Pequeño */
    --fs-xs: 1.6rem;  /* Extra pequeño */
    --fs-xxs: 1.4rem; /* Extra extra pequeño */
    --fs-xxxs: 1.2rem; /* Mínimo */

    /* Espaciado */
    --espacio-0-25: 0.2rem;
    --espacio-0-5: 0.4rem;
    --espacio-1: 0.8rem;
    --espacio-2: 1.6rem;
    --espacio-3: 2.4rem;
    --espacio-6: 4.8rem;

    /* Bordes */
    --borde-redondo-sm: 0.4rem;
    --borde-redondo-md: 0.8rem;
}

.cabecera {
    background-color: var(--primary-950);
    color: var(--white);
    height: auto; /* Ajuste automático de altura */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 var(--espacio-1);
    flex-shrink: 0;
    width: 100%;
}

.cabecera__logo-img {
    height: calc(var(--alto-cabecera) - 0.5rem);
    margin-right: var(--espacio-2);
}

.cabecera__nav {
    display: flex;
    justify-content: center;
    gap: var(--espacio-2);
}

.cabecera__enlace {
    font-weight: bold;
    color: var(--white);
    text-decoration: none;
    padding: 0.15rem 0;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-right: var(--espacio-2);
    letter-spacing: 0.05rem;
}

.cabecera__enlace:hover {
    background-color: var(--primary-700);
}

.asociacion {
    padding: var(--espacio-3);
    max-width: 120rem;
    margin: auto; /* Centrar el formulario */
    box-sizing: border-box;
}

.asociacion__titulo {
    color: var(--gray-900);
    font-size: var(--fs-md);
    margin-bottom: var(--espacio-2);
    text-align: center;
}

.asociacion__descripcion {
    color: var(--gray-700);
    font-size: var(--fs-xs);
    margin-bottom: var(--espacio-3);
    text-align: center;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

.formulario {
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    text-align: center;
    border: solid 0.1rem var(--primary-950);
    color: black;
    background-color: var(--white);
}

.formulario__campo {
    margin-bottom: var(--espacio-2);
}

.formulario__etiqueta {
    display: block;
    color: var(--gray-700);
    margin-bottom: var(--espacio-0-5);
    font-size: var(--fs-xs);
    font-weight: 500;
}

.formulario__entrada {
    width: 100%;
    padding: var(--espacio-1);
    border: 1px solid var(--gray-200);
    border-radius: var(--borde-redondo-sm);
    font-size: var(--fs-xs);
    min-height: 4rem;
}

.formulario__selector {
    width: 100%;
    padding: var(--espacio-1);
    border: 1px solid var(--gray-200);
    border-radius: var(--borde-redondo-sm);
    font-size: var(--fs-xs);
    min-height: 4rem;
    appearance: none;
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
    padding-right: 2.5em;
}

.formulario__boton {
    background-color: var(--primary-950);
    color: var(--white);
    padding: var(--espacio-1) var(--espacio-2);
    border: none;
    border-radius: var(--borde-redondo-sm);
    cursor: pointer;
    font-size: var(--fs-xs);
    min-height: 4rem;
    transition: background-color 0.3s ease;
    display: block;
    margin: var(--espacio-3) auto 0;
    margin-top: var(--espacio-6);
    width: 100%;
    max-width: 20rem;
    border: solid 0.1rem var(--black);
}

.formulario__boton:hover {
    background-color: var(--primary-700);
}

@media (max-width: 768px) {
    .cabecera {
        flex-direction: column;
        padding: var(--espacio-1);
    }

    .cabecera__logo {
        margin-bottom: var(--espacio-1);
    }

    .cabecera__nav {
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--espacio-1);
    }

    .cabecera__enlace {
        font-size: var(--fs-xxxs);
    }

    .asociacion {
        padding: var(--espacio-2);
    }

    .asociacion__titulo {
        font-size: var(--fs-sm);
    }

    .formulario {
        width: 95%;
        padding: var(--espacio-2);
    }

    .formulario__etiqueta {
        font-size: var(--fs-xxs);
    }

    .formulario__entrada,
    .formulario__selector,
    .formulario__boton {
        font-size: var(--fs-xxs);
        min-height: 3.5rem;
    }
}

@media (max-width: 480px) {

    .cabecera__nav {
        flex-direction: column;
        align-items: center;
    }

    .cabecera__enlace {
        font-size: var(--fs-xxxs);
        margin-bottom: var(--espacio-0-5);
    }

    .asociacion__titulo {
        font-size: var(--fs-xs);
    }

    .asociacion__descripcion {
        font-size: var(--fs-xxs);
    }

    .formulario {
        padding: var(--espacio-1);
    }

    .formulario__etiqueta {
        font-size: var(--fs-xxxs);
    }

    .formulario__entrada,
    .formulario__selector,
    .formulario__boton {
        font-size: var(--fs-xxxs);
        min-height: 3rem;
    }
}

a {
    text-decoration: none;
    color: var(--black);
}

.formulario__grid {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
}

.formulario__columna {
    padding: 1rem;
}

button {
    border: solid 0.1rem var(--black);
    cursor: pointer;
    background-color: var(--white);
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: var(--fs-xs);
    margin: 0.5rem;
    width: 15rem;
    color: var(--black);
}

button:hover {
    background-color: var(--primary-400);
    color: var(--white);
}

.formulario__error {
    color: red;
    font-size: 0.85rem;
    margin-top: 4px;
}

.formulario__exito {
    background-color: #d4edda;
    color: #155724;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #c3e6cb;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@media (max-width: 1024px) and (min-width: 601px) {
    html {
        font-size: 56.25%;
    }

    .formulario {
        width: 90%;
        padding: var(--espacio-2);
        margin: 2rem auto;
        box-sizing: border-box;
    }

    .formulario__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .formulario__entrada,
    .formulario__selector,
    .formulario__boton {
        font-size: var(--fs-xs);
        min-height: 4rem;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 50%;
    }

    .cabecera {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: var(--espacio-1);
    }

    .cabecera__nav {
        flex-direction: column;
        gap: var(--espacio-1);
        width: 100%;
    }

    .asociacion {
        padding: var(--espacio-2);
    }

    .formulario {
        width: 95%;
        padding: var(--espacio-2);
        margin: 2rem auto;
        box-sizing: border-box;
    }

    .formulario__grid {
        grid-template-columns: 1fr;
    }

    .formulario__entrada,
    .formulario__selector,
    .formulario__boton {
        font-size: var(--fs-xxs);
        min-height: 4rem;
        width: 100%;
    }

    .formulario__boton {
        max-width: 100%;
    }
}

.formulario__entrada--error::placeholder {
    color: red;
  }
  
