<div class="grid">
    <!-- Primer cuadro -->
    <div class="grid__item">
        <!-- <div class="grid__text grid__text--first">Texto sobre el primer cuadro</div> -->
        <img class="grid__image" src="/fronted/public/img/1-1-jpg.webp" alt="Imagen 1">
    </div>
    <!-- Segundo cuadro -->
    <div class="grid__item">
        <!-- <div class="grid__text grid__text--second">Texto debajo del segundo cuadro</div> -->
        <img class="grid__image" src="/fronted/public/img/1-1-jpg.webp" alt="Imagen 1">
    </div>
    <!-- Tercer cuadro -->
    <div class="grid__item">
        <!-- <div class="grid__text grid__text--third">Texto sobre el tercer cuadro</div> -->
        <img class="grid__image" src="/fronted/public/img/1-1-jpg.webp" alt="Imagen 1">
    </div>
</div>