@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}  

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

:root {
    /* Colores Principales */
    --Primary-Green950: #39A900;
    --Primary-Green600: #81C85D;
    /* Colores Basicos */
    --Primary-white: #FFFFFF;
    --Primary-Black: #000;
    /* Tipografía */
    --font-primary: 'Work Sans';
}

body {
    font-family: var(--font-primary);
    background-image: url("/img/cafe.jpg"); 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--Primary-white);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    margin: 18rem auto;
}

.header {
    position: absolute;
    background-color: var(--Primary-Green950);
    top: 0;
    width: 100%;
    height: 7rem;
    text-align: center;
    color: var(--Primary-white);
}

.header__logo {
    text-align: end;
    margin-top: -8rem;
    padding-right: 10rem;
}

.header__logo-image {
    max-width: 100%;
    height: auto;
}

.header__title {
    font-size: 6.4rem;
    text-transform: uppercase;
    font-family: "Work Sans";
}

.container__title {
    font-size: 2.4rem;
    margin-bottom: 3rem;
}

.container__description {
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.code-form__input-group {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.code-form__input {
    width: 5.6rem;
    height: 5.6rem;
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid var(--Primary-Green950);
    border-radius: 5px;
    margin: 0 0.5rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.code-form__button-group {
    display: flex;
    justify-content: center;
    gap: 2.4rem;
}

.container__buttons {
    display: flex;
    justify-content: center;
    gap: 2rem; /* Ajusté el valor de gap aquí */
}

.container__link {
    text-decoration: none; /* Elimina el subrayado */
}

.btn {
    padding: 2.4rem 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
    width: 12.6rem;
    height: 4.3rem;
    font-family: var(--font-primary);
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    border-style: none;
    display: flex;
    justify-content: center; /* Centra el texto horizontalmente */
    align-items: center; /* Centra el texto verticalmente */
}

.btn--back {
    background-color: var(--Primary-Green600);
    color: var(--Primary-Black);
}

.btn--confirm {
    background-color: var(--Primary-Green950);
    color: var(--Primary-white);
}

.code-form__message {
    color: red;
}

/* Queries */
@media (max-width: 769px) {
    .container {
        padding: 1.5rem;
        margin: 10rem auto; 
    }

    .header__title {
        font-size: 4rem;
    }

    .container__title {
        font-size: 1.8rem;
    }

    .container__description {
        font-size: 1.4rem;
    }

    .code-form__input {
        width: 4rem;
        height: 4rem;
        font-size: 1.2rem;
    }

    .code-form__button-group,
    .container__buttons {
        flex-direction: column;
        align-items: center;
    }

    .btn--back {
        margin-left: 0; 
        margin-top: 1rem; 
    }
}
